@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.category-title {
  @apply font-bold mt-8 mb-3 hover:text-cyan-500;
}

.category-li {
  @apply my-2 hover:text-cyan-500;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
  background: linear-gradient(90deg, #aaa 25%, #bbb 50%, #aaa 75%);
  transform: translateZ(0);
  background-size: 200% 100%;
}
